attrs==23.2.0
black==24.1.1
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coverage==7.4.1
gitdb==4.0.11
GitPython==3.1.41
idna==3.6
isodate==0.6.1
jsbeautifier==1.15.1
lxml==5.1.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
platformdirs==4.2.0
pytz==2024.1
requests==2.31.0
requests-file==2.0.0
requests-toolbelt==1.0.0
six==1.16.0
smmap==5.0.1
tqdm==4.66.1
urllib3==2.2.0
zeep==4.2.1
